/*RESET*/
*{
    padding: 0;
    margin: 0;/*
	text-decoration: none;
	border: none;
	outline: none;
	list-style: none;*/
}

a{
    text-decoration: none;
}
.header{
    position:sticky;
    top: 0;
    z-index: 11;   
    background-color: aliceblue;  
}

main{
    background-color: lightcoral;
}
/*--------------------------*/

.catalogo__titulo{
    margin-top: 1rem;
}

.container{
    display: grid;
    
    grid-template-columns: 15% 85%;
    grid-template-areas: "izq cen";
    background-color: burlywood;
    margin: 0 3em 3em 3em;
}

.cover{
    width: 250px;
    height: 250px;
}

.cover:hover {
    filter: brightness(75%);
    transition: all 0.5s ease;
  }

.catalogo_texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.izquierda{
    grid-area: izq;
    position: sticky;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    top: 37px;
    z-index: 2;
    width:100%;
}

.filtro{
    background-color: darkseagreen;
    width:100%;
}



.catalogo{
    grid-area: cen;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.catalogo__productos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    justify-content: center;
    width: 100%;
    
}

.filtro{       
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.derecha{
    position:absolute;
    top: 10px;      
    right: 0;
    width:100px;
    flex-direction: column;
    background-color: rgb(172, 172, 226);
    overflow-x: hidden;
}

.derecha.active{
    width:300px;
    
}

.carrito{
    display: flex;
    flex-direction: column;
    
}
.carrito{
    background-color: chocolate;
    margin-bottom: 1rem;
    
    /*display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;*/
}

.carrito_container, .favoritos__productos{
    display: none;
}

.carrito__btns{
    display: flex;
    flex-direction: row;
}

.favoritos{
    background-color: rgb(30, 198, 210);
    
}

.btns{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 30%;
    height: inherit;
    justify-content: space-between;
}

.carrito__btns{
    background-color: darkmagenta;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

/*--------------------------------------*/

.container__producto{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 325px;
    margin: 1rem 1rem 1rem 1rem;
   /* background-color: cornflowerblue;*/
    position: relative;
}



.info{
    display: flex;
    flex-direction: row;
    /*background-color: rgb(204, 238, 238);*/
    align-items: center;
    width: 100%;
    height: 75px;
    
}

.info_favoritos, .info_carrito{
    display: flex;
    flex-direction: column;
    
    background-color: darkcyan;
    align-items: baseline;
    
}

.info_txt{
    /*background-color: khaki;*/
    display: flex;
    flex-direction: column;
    width: 70%;
    height: inherit;
    justify-content: space-evenly;
    align-items: baseline;
}

.container__carrito, .container__favorito{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction:row;
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    background-color: darkgoldenrod;
}

.container__favorito{
justify-content: left;
}

.cover_min{
    max-width: 75px;
    max-height: 75px;
}

.btn_borrar_prod{
    margin: 0.8rem 0 0.8rem 0;
}

.btn_borrar_favorito{
    margin: 0 0.8rem 0 0.8rem;
}

/*-------------*/
.filtro__productos{
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
}
.filtro_form{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    
}

.btn_filtrar{
    margin-bottom: 1rem;
}

.btn_agregar_favorito{
    width:1.5rem;
}


