/* STYLE */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: inherit; }

body{
  background-color: #fdfdfd; }

* {
  font-family: 'Roboto Mono', monospace; }

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #050505; }

/* main */
.container_1__izq h2 {
  color: #fafafa;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25em;
  padding: 0.125em; }

h3 {
  margin-top: 2.5em; }

.btn_ver_catalogo {
  padding: 0.1em;
  margin: 0.5em 0.5em 2em 0.5em; }

.btn_ver_catalogo:hover {
  cursor: pointer; }

/*---------------- efecto texto hover*/
.txt {
  text-align: left;
  padding: 0.5em; }

/*---------------- efecto texto hover*/
/* fin main */
/* catalogo */
.cantidad__encarrito {
  padding-left: 0.5em; }

.btn_borrar_prod {
  margin: 0.8em 0 0.8em 0; }

.btn_agregar_favorito, .btn_agregar_producto {
  width: 1.5em;
  height: 1.5em; }

.catalogo__titulo {
  color: #050505; }

/* fin catalogo */
/* cart */
.modal-content p {
  text-decoration: underline; }

/* footer */
.footer_links {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 0.6em; }

.footer_texto {
  width: 1em;
  font-size: 1.25em; }

.footer_derecha, .footer_texto {
  font-size: 0.7em; }

/* RESPONSIVE */
/* SMALL */
@media only screen and (max-width: 600px) {
  /* main */
  .producto__titulo {
    margin-bottom: 0.5em; }
  .btn_ver_catalogo {
    font-size: 1.125em; }
  /*hover*/
  .container_hover_txt {
    height: 16.25em;
    width: 16.25em;
    top: 1.3em; }
  .txt {
    font-size: 0.6em; }
  /* fin main */
  /* catalogo */
  .box_filtro ul li {
    font-size: 0.8em; }
  .btn_agregar_favorito {
    margin-bottom: 1em; }
  /* fin catalogo */
  /* cart */
  .container__pago__elementos h3 {
    margin: 1em 0.5em 0.5em 0.5em;
    text-align: center; }
  .total_valor {
    padding: 0.7em 0 0.7em 0;
    font-weight: 600;
    padding: 0.2em;
    background-color: #0d0f11;
    margin: 1em; }
  .total_valor span {
    color: white; }
  /* footer */
  .footer_derecha, .footer_texto {
    font-size: 0.6em; } }

/* MEDIUM */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  /* main */
  .container_1__izq h2 {
    font-size: 1.8em; }
  h3 {
    margin-bottom: 2.5em; }
  .producto__titulo {
    margin-bottom: 0.5em; }
  .btn_ver_catalogo {
    font-size: 1.5em; }
  /*hover*/
  .txt {
    font-size: 0.625em; }
  /* fin main */
  /* catalogo */
  .box_filtro ul li {
    font-size: 0.8em; }
  /* fin catalogo */
  /* cart */
  .container__pago__elementos h3 {
    margin: 1em 0.5em 0.5em 0.5em;
    text-align: center; }
  .total_valor {
    padding: 0.7em 0 0.7em 0;
    font-weight: 600;
    padding: 0.2em;
    background-color: #0d0f11;
    margin: 1em; }
  .total_valor span {
    color: white; } }

/* LARGE */
@media only screen and (min-width: 1200px) {
  /* main */
  .container_1__izq h2 {
    font-size: 1em; }
  .producto__titulo {
    margin-bottom: 0.5em; }
  .btn_ver_catalogo {
    font-size: 1.5em; }
  /*hover*/
  .txt {
    font-size: 0.8em; }
  /* fin main */
  /* catalogo */
  .cantidad__encarrito {
    font-size: 0.7em;
    padding: 0.2em; }
  .carrito_container__btns {
    padding-left: 1em;
    background-color: #0d0f11;
    font-size: 0.8em;
    color: white;
    padding: 0.5em; }
  .info_favoritos {
    font-size: 0.6em;
    width: 60%;
    padding-left: 0.5em; }
  /* fin catalogo */
  /* cart */
  .container__pago__elementos h3 {
    color: #050505; }
  .total_valor {
    padding: 0.7em 0 0.7em 0;
    font-weight: 600;
    padding: 0.2em;
    background-color: #0d0f11;
    margin: 1em; }
  .total_valor span {
    color: #fafafa; } }

/*LAYOUT*/
.header {
  height: auto;
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: #fdfdfd;
  padding-left: 0.5rem; }

.header:hover {
  cursor: pointer; }

@media only screen and (max-width: 1199px) {
  /* Underline Reveal */
  .hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden; }
  .hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    height: 3px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #fdfdfd;
  padding-top: 0.3rem;
  align-items: center;
  padding-bottom: 0.3rem;
  width: 100%;
  bottom: 0; }

.footer_texto {
  width: 20em; }

/*PAGES*/
.container_index {
  display: flex;
  flex-direction: column; }

.container_1__izq {
  display: flex;
  padding: 0.5em; }

.container_1 {
  background-color: #0d0f11;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container_1__izq {
    width: 90vw;
    margin: 10px; }
  .container_1__der {
    display: none; }

.container_2 {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  align-items: center;
  justify-content: center; }

.producto_novedad {
  margin: 1.5em 0 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.info_novedad {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: inherit; }

.info_novedad_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit; }

.infos {
  width: inherit;
  padding: 0.3em; }

/*---------------- efecto texto hover*/
.hover_txt {
  width: 100%; }

.container_hover_txt {
  position: absolute;
  color: #fafafa;
  background-color: rgba(36, 36, 36, 0.8);
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.container_hover_txt:hover {
  opacity: 1; }

/*---------------- efecto texto hover*/
.producto_novedad {
  padding: 20px 20px 20px 20px;
  border: solid 1px #0d0f11; }

.cover_novedad {
  border: solid 1px #0d0f11; }

.infos {
  border: solid 1px #0d0f11; }

/* RESPONSIVE */
/* SMALL */
@media only screen and (max-width: 600px) {
  .producto_novedad {
    margin: 2.5em 0 2.5em 0;
    width: 260px; }
  .container_1__izq {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%; }
  .cover_novedad {
    width: 260px;
    height: 260px;
    margin-bottom: 0.5em; }
  .infos {
    width: 250px; } }

/* MEDIUM */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .productos_novedades {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    height: auto;
    width: 100%;
    align-items: center;
    justify-items: center; }
  .producto_novedad {
    width: 200px; }
  .cover_novedad {
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
    margin-bottom: 0.5em; }
  .infos {
    width: 190px; }
  .info_novedad {
    height: 75px; }
  /* hover */
  .container_hover_txt {
    height: 201px;
    width: 200px;
    top: 20px; } }

/* LARGE */
@media only screen and (min-width: 1200px) {
  .container_1 {
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100%; }
    .container_1__izq {
      font-size: 40px;
      width: 50%;
      height: auto; }
    .container_1__der {
      display: flex;
      width: 50%;
      height: auto;
      overflow: hidden; }
  .img_der {
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .img_der img {
    width: 48em; }
  .productos_novedades {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    height: auto;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-top: 2em; }
  .producto_novedad {
    width: 300px; }
  .infos {
    width: 289px; }
  .cover_novedad {
    width: 300px;
    height: 300px;
    margin-bottom: 0.5em; }
  /* hover */
  .container_hover_txt {
    height: 300px;
    width: 300px;
    top: 1.3em; } }

/* carrito */
.cart.active {
  width: 300px; }

.cart_text {
  width: inherit;
  align-items: center; }

.carrito {
  display: flex;
  flex-direction: column; }

.carrito {
  background-color: #fdfdfd; }

.carrito_container, .favoritos__productos, .container__filtro {
  display: none; }

.container__carrito, .container__favorito {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  height: 85px; }

.info_favoritos, .info_carrito {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 50%; }

.favoritos__productos {
  background-color: #fdfdfd; }

.cover_min, .cover_xmin {
  max-width: 75px;
  max-height: 75px; }

.info_txt {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: inherit;
  justify-content: space-evenly;
  align-items: baseline; }

.filt, .cart_text {
  width: inherit; }

.cover:hover {
  filter: brightness(75%);
  transition: all 0.5s ease; }

.container__producto {
  padding: 20px 20px 20px 20px;
  border: solid 1px #0d0f11; }

.cover {
  border: solid 1px #0d0f11;
  margin-bottom: 0.5em; }

.info {
  border: solid 1px #0d0f11;
  padding: 0.3em; }

.buscar_input {
  background-color: #ececec; }

/* RESPONSIVE */
/* SMALL */
@media only screen and (max-width: 607px) {
  .container {
    display: flex;
    flex-direction: column; }
  /* cart */
  .cart {
    padding: 0.5em; }
  .carrito_container__btns {
    padding-left: 1em; }
  .cart.active {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .cart_text {
    width: inherit;
    display: flex;
    justify-content: left; }
  .carrito {
    padding-bottom: 1em; }
  .container__carrito, .container__favorito {
    justify-content: space-evenly; }
  .carrito_container__productos, .container__favorito {
    height: auto;
    max-height: 470px;
    overflow-y: scroll; }
  /* fin cart */
  .izquierda {
    height: auto;
    position: fixed;
    background-color: #fdfdfd;
    width: 100%;
    display: none;
    flex-direction: column;
    z-index: 50;
    padding-bottom: 0.5em;
    padding-left: 1em; }
  .izquierda:active {
    display: flex; }
  .filtro {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em; }
  .container__filtro {
    padding-bottom: 1em; }
  .filt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 0 1.5em 0; }
  .box_filtro {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .favoritos {
    padding-right: 1em; }
  .catalogo {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; }
  .catalogo__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 1em 0; }
  .container__producto {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0em 0 3em 0;
    padding: 20px 20px 20px 20px;
    border: solid 1px #0d0f11; }
  .cover {
    height: 260px;
    width: 260px;
    border: solid 1px #0d0f11;
    margin-bottom: 0.5em; }
  .info {
    max-height: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    border: solid 1px #0d0f11;
    padding: 0.3em; }
  .btns {
    display: grid;
    justify-content: unset;
    width: 30%;
    justify-content: end; } }

/* MEDIUM */
@media only screen and (min-width: 608px) and (max-width: 1199px) {
  .container {
    display: flex;
    flex-direction: column; }
  /* cart */
  .cart {
    padding: 0.5em; }
  .carrito_container__btns {
    padding-left: 1em; }
  .cart.active {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .cart_text {
    width: inherit;
    display: flex;
    justify-content: left; }
  .container__carrito, .container__favorito {
    justify-content: space-evenly; }
  .carrito_container__productos, .container__favorito {
    height: auto;
    max-height: 470px;
    overflow-y: scroll; }
  .container__carrito, .container__favorito {
    padding: 0; }
  /* fin cart */
  .izquierda {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #fdfdfd;
    padding: 0.5em 0 0.5em 1em;
    display: none;
    flex-direction: column;
    z-index: 50; }
  .izquierda:active {
    display: flex; }
  .filtro {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em; }
  .container__filtro {
    width: inherit;
    height: inherit;
    padding-bottom: 1em; }
  .filt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 0 2.3em 0; }
  .box_filtro {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .catalogo {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }
  .catalogo__productos {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    width: 100%; }
  .container__producto {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    width: 180px; }
  .info {
    display: flex; }
  .info_txt {
    width: 90%; }
  .cover {
    width: 180px;
    height: 180px; }
  .btns {
    width: 15%; } }

/* LARGE */
@media only screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: "izq cen";
    background-color: #fdfdfd;
    margin: 0 3em 0 3em; }
  .izquierda {
    grid-area: izq;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    position: sticky;
    z-index: 100;
    top: 120px;
    width: auto; }
  .filtro {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-bottom: 1em; }
  .box_filtro {
    padding-top: 1em; }
  .catalogo {
    grid-area: cen;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em; }
  .catalogo_texto {
    margin: 0.5em; }
  .catalogo__productos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    width: 100%; }
  .container__producto {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    width: 280px; }
  .cover {
    width: 280px;
    height: 280px; }
  .info {
    display: flex;
    height: 95px; }
  .info_txt {
    width: 90%;
    height: inherit; }
  .btns {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end; }
  .cart {
    position: absolute;
    top: 10px;
    right: 0;
    width: 100px;
    flex-direction: column;
    background-color: #0d0f11;
    overflow-x: hidden; }
  .cart {
    color: #050505; }
  /* cart */
  .cart.active {
    display: flex;
    flex-direction: column; }
  .cart_text {
    width: inherit;
    display: flex;
    justify-content: left;
    color: #fdfdfd;
    padding: 0.5em; }
  .container__carrito {
    justify-content: space-evenly; }
  .carrito_container__productos {
    max-height: 420px;
    overflow-y: scroll; }
  .favoritos__productos {
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden; }
  .cover_xmin {
    max-width: 50px;
    max-height: 50px; }
  .container__favorito {
    margin: 0.2em;
    padding: 0; }
  .btns_fav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit; }
  /* fin cart */ }

.container__2 {
  display: none; }

.total__cover {
  width: 90px;
  height: 90px;
  position: relative; }

/* MODAL */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.closemd {
  color: #aaa;
  float: right;
  font-size: 1.75em;
  font-weight: bold; }

.closemd:focus {
  color: #0d0f11;
  text-decoration: none;
  cursor: pointer; }

.aviso {
  position: absolute;
  width: 200px;
  height: 150px;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #fafafa;
  background-color: #0d0f11; }

/* FIN MODAL */
.btn__form__comprar:hover, .btn_regresar:hover, .closemd:hover, .btn__sacar:hover {
  cursor: pointer; }

/* RESPONSIVE */
/* SMALL & MEDIUM */
@media only screen and (max-width: 1199px) {
  .size {
    display: flex;
    height: auto;
    width: 100vw;
    background-color: #fdfdfd;
    flex-direction: column;
    align-items: center; }
  .container__pago {
    background-color: #fdfdfd;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .overflow {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center; }
  .total__productos {
    background-color: #fdfdfd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .info__pago {
    display: flex;
    width: 65vw;
    max-height: 90px;
    flex-direction: column;
    background-color: #fdfdfd;
    padding-left: 0.3rem;
    align-items: baseline;
    justify-content: center; }
  .total {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em; }
  .total_valor {
    padding: 0.7em 0 0.7em 0;
    font-weight: 600;
    padding: 0.2em;
    background-color: #0d0f11;
    margin: 1em; }
  .total_valor span {
    color: #fafafa; }
  .datos__pago {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container__form__pago {
    margin-bottom: 2em; }
  .form__pago {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form__item {
    display: flex;
    flex-direction: column;
    margin: 0.3em 0 0.3em 0; }
  .form__comprar {
    margin: 1rem; }
  .btn__form__comprar {
    background-color: #e3e3e3; }
  .btn__sacar {
    height: 1.5em; }
  .body-color-bg {
    background-color: #fdfdfd; } }

/* SOLO MEDIUM */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .total__productos {
    height: auto;
    max-height: 425px;
    overflow-y: scroll; }
  .body-color-bg {
    background-color: #fdfdfd; } }

/* LARGE */
@media only screen and (min-width: 1200px) {
  .size {
    display: grid;
    height: auto;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: '. centro .';
    background-color: #050505; }
  .container__pago {
    grid-area: centro;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 5em;
    margin-top: 3em;
    justify-content: center; }
  .container__pago__elementos {
    background-color: #fdfdfd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .total__productos {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 5em;
    padding: 1em;
    max-height: 450px;
    overflow-y: scroll; }
  .datos__pago {
    background-color: #fdfdfd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .total {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0.5em 0.5em 0.5em;
    align-items: center; }
  .total__cover {
    width: 90px;
    height: 90px;
    position: relative; }
  .info__pago {
    display: flex;
    width: 300px;
    height: 90px;
    flex-direction: column;
    background-color: #fdfdfd;
    padding: 0 0.1em 0em 0.1em;
    align-items: baseline;
    justify-content: center; }
  .form__item {
    display: flex;
    flex-direction: column;
    margin: 0.3em 0 0.3em 0; }
  .form__pago {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form__comprar {
    margin: 1rem; }
  .btn__form__comprar {
    background-color: #e3e3e3; }
  .btn__sacar {
    height: 1.5em; }
  .body-color-bg {
    background-color: #0d0f11; }
  .btn__pago {
    width: 18px;
    height: 18px;
    margin: 0.8rem 0 0.8rem 2px; } }

/*ASSETS*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #000000;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow; }

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.103); }

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow; }

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

/* -------------------------------------------------------- */
/* pointer */
.btn_comprar:hover, .btn_agregar_favorito:hover,
.btn_agregar_producto:hover, .btn_borrar:hover,
.btn_borrar_favorito:hover, .btn_agregar_producto_fav:hover,
.icn_filtro:hover, .mostrar_favoritos:hover {
  cursor: pointer; }

.box_filtro ul li:hover {
  cursor: pointer; }
