// BG COLOURS
$layoutColor: rgb(253, 253, 253); //layout solido

// TEXT COLOURS
$txtColour1: rgb(250, 250, 250);
$txtColour2: rgb(5, 5, 5);

//ACCENT
$accent1: rgb(13, 15, 17);

//ESPACIO ELEMENTOS 
$space1: 0.1rem;
$space2: 0.5rem;
$space3: 1rem;
$space4: 2rem;

// ESPACIO TEXTO
$spaceTxt1: 0.1em;
$spaceTxt1_2: 0.125em;
$spaceTxt2: 0.5em;
$spaceTxt3: 1em;
$spaceTxt4: 2em;

//FUENTE
$weight1: 300;
$weight2: 500;
$weight3: 600;
$weight4: 700;