.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $layoutColor;
    padding-top: $space1*3;
    align-items: center;
    padding-bottom: $space1*3;
    width: 100%;
    bottom: 0;
}

.footer_texto {
    width: 20em;
}
   